
    
        /* General Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body Styles */
        body {
            font-family: 'Roboto', sans-serif;
            color: white;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            background-blend-mode: darken;
            padding: 20px;
        }

        /* Typography */
        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 3em;
            margin-top: 20px;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 1.5em;
            margin-top: 10px;
        }

        p {
            font-size: 1.2em;
            line-height: 1.5;
            margin: 10px 0;
        }

        a {
            color: #00f;
            text-decoration: none;
        }

        /* Layout */
        header {
            margin-bottom: 20px;
        }

        .cast {
            margin: 20px 0;
        }

        .footer {
            margin-top: 40px;
        }

        .awards {
            font-style: italic;
            margin-top: 20px;
        }
 

        /* Responsive Design */
        @media (max-width: 600px) {
            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 1em;
            }
        }
   
